*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.navigation-container {
    margin-right: 80px;
    display: flex;
}

.navigation-element {
    font-size: 28px;
    margin-right: 20px;
    color: black;
}



.navigation-element:hover {
    opacity: 0.7;
}

.logo-container {
    margin-left: 100px;
}

.logo-image {
    width: 85px;
}

.link {
    text-decoration: none;

}



.event_section {
    position: relative;
    max-height: 500px;
    width: 100%;
    padding: 10px 5px 5px 10px;
    display:flex;
    flex-direction:row-reverse;
}

.page_image {
    display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.event_section:hover {
    opacity: 0.3;
}



.details_container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 35px 0 35px 0;
    font-size: 21px;
}

.content_container {
    padding: 16px 24px 16px 24px;
    margin: 16px 16px 16px 16px;
    background-color: white;
    width: 370px;
    text-justify: auto;
}

.icon_text {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin-right: 50px;
    margin-bottom: 10px;

}


.event_image {
    width: 300px;
    height: 250px;
}

.some_icon {
    float: right;
    width: 30px;
}


.footer_container {
    background-color: #E8DAEF;
    color: #515A5A;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 165px;
    font-size: 20px;
}

.some_icon {
    width: 30px;
    float: left;
    margin-right: 30px;

}

.contact_headline {
    font-family: Helvetica, sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    color: black;

}

.some_image {
    width: 30px;
    margin-right: 15px;
    margin-top: 0;
}

.contactus_section {
    width: 220px;
    height: 70px;
    font-size: 20px;
}

.page_headline {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 35px;
}

@media only screen and (min-width: 470px) {
    .footer_container {
        flex-direction: row;
    }

    .logo_image {
        display: inline;
    }

    .navigation_container {
        justify-content: space-between;
    }
